body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 900px;
    background-image:
            linear-gradient(rgba(66, 33, 33, 0.3),rgba(66, 33, 33,0.3)),url("../images/bckimg.png");
            margin: 20px auto;
}
#calculator{
    width: 450px;
    height: 720px;
    background-color: #eaedef;
    margin: 22px auto;
    position: relative;
    top: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px black,-2px -2px 5px 2px black;
}
#result{
    height: 220px;
}
#history{
    text-align: right;
    height: 60px;
    font-size: 30px;
    margin: 0 30px;
    padding-top: 70px;
}
#output{
    text-align: right;
    height: 70px;
    margin: 0 30px;
    font-size: 30px;
}
#keyboard{
    height: 500px;
}
.operator, .number ,.empty{
    background-color: #b3b6b6;
    width: 60px;
    height: 60px;
    margin: 25px 20px 10px 30px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;
}
.number , .empty{
    background-color: #eaedef;
    font-size: 20px;
}
.operator, .number{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus ,.empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 22px;
    background-color: #2b8768;
}
button:nth-child(8){
    font-size: 22px;
    background-color: #404482;
}
button:nth-child(12){
    font-size: 22px;
    background-color: #785293;
}
button:nth-child(16){
    font-size: 22px;
    background-color: #9a7a52;
}
button:nth-child(20){
    font-size: 22px;
    background-color: #894a60;
}